<div data-controller="get-museums">
  <h1>Museums grouped by postcode</h1>

  <button data-action="click->get-museums#getMuseums" type="button">
    Show Museums
  </button>

  <ul data-get-museums-target="museums">

  </ul>
</div>
